header{
    background-color: darkslateblue;
    height: 200px;
    text-align: center;
}

main{
    background-color: darkblue;
    color: white;
    height: 100%;
    font-size: 30px;
    display: flex;
    justify-content: center; 
}
footer{
    background-color: gray;
    height: 100%;
}
.center{
    display: flex;
}
.center img{
    width: 100px;
    padding-left: 20px;
}
.center ul{
    list-style: none;
    display: flex;
    align-items: center;
}
.container{
    height: 100%;
    width: 80%;
}
.left{
width: 50%;
height: 100%;
float: left; 
}
.right{
width: 50% ;
float: right; 
color: white;
}